/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}




/* The popup bubble styling. */
.popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the bubble. */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
    /* Position the div a fixed distance above the tip. */
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
}

/* This element draws the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}

.map-control {
    font-family: "Roboto", "sans-serif";
    margin: 10px;
    padding: 5px;
    display: none;
}

/* Display the control once it is inside the map. */
#map .map-control {
    display: block;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-family: wf_segoe-ui_normal,
        Tahoma,
        Verdana,
        Arial,
        sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    height: 30px;
    width:58px;    
}

.btn-default-toggle-ghost,
.btn-default-toggle-ghost:focus {
    background: #ccc;
    border: 1px solid rgba(160, 160, 160, 0.6);
    color: #464646;
    outline: none;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    float: left;
}

.btn-group [type="radio"] {
    display: none;
}

[type="radio"]:checked+.btn-default-toggle-ghost {
    background: #fff;
}

[type="radio"]:checked+.btn-default-toggle-ghost:after {
    content: '';
    position: absolute;
    top: 0px;
    height: 3px;
    background: #ff0000;
    left: 0px;
    right: 0px;
}

.btn-default-toggle-ghost+[type="radio"]+.btn-default-toggle-ghost {
    border-left: 0px;
    /*for removing the extra border between the buttons*/
}

#attribute {
    padding: 4px 8px;
    background-color: #fff;
    margin-bottom: 1em;
    display: none;
}

#map #attribute {
    display: block;
}